.character-marker {
    position: absolute;
    border: 2px solid #1f365a;
    background-color: white;
    width: 80px;
    height: 80px;
}

.character-marker img {
    width: 100%;
}

.character-marker::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #1f365a;
}
