@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');

.click-box {
    border: 2px solid black;
    position: absolute;
    transform: translate(-100%, -150%);
}

.image-selection {
    border: 2px solid #1f365a;
    width: 300px;
    height: 130px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    background-color: white;
}

.image-selection button {
    background-color: transparent;
    border: none;
}

.image-selection button:disabled {
    /* background-color: black; */
    filter: grayscale();
}

.image-selection button:hover {
    cursor: pointer;
    background-color: #f7dfec;
}

.image-selection button:disabled:hover {
    cursor: not-allowed;
    background-color: transparent;
}

.image-selection h3 {
    font-family: 'Bodoni Moda', serif;
    background-color: #1f365a;
    color: white;
    text-align: center;
    height: 30px;
}
